---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex justify-center items-center h-screen">
    <Button>Start</Button>
  </div>
</Layout>
